<div class="carousel">
  <div class="draw-carousel">
    <div class="main-page"> <!-- Блок основной внутри карусели -->
      <div class="top-images">
        <img src={{searchArr.img}} alt="img">
        <p>{{searchArr.title}}</p>
      </div>
      <div class="information">
        <p>{{searchArr.name}}</p>
        <p>{{searchArr.informationText}}</p>
      </div>
      <div class="bottom-information">
        <a href="#">{{searchArr.bottomText}}</a>
      </div>
    </div>
  </div>
</div>

img
title
informationText
bottomText